  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-film" aria-hidden="true"></i>
        </div>
        <div class="sidebar-brand-text mx-3">TGV Cinema</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Movie
    </div>

    <!-- Nav Item - Add Movie Menu -->
    <li class="nav-item">
        <a class="nav-link" href="addMovie">
            <i class="fas fa-plus"></i>
            <span> Add Movie</span>
        </a>
    </li>

    <!-- Nav Item - Manage Movie Menu -->
    <li class="nav-item">
        <a class="nav-link" href="manageMovie">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Manage Movie Listing</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Booking
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="manageBookings">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>View All Booking</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="collectedTicket">
            <i class="fas fa-fw fa-table"></i>
            <span>Collected Tickets</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="uncollectedTicket">
            <i class="fas fa-fw fa-table"></i>
            <span>Uncollected Tickets</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>
<!-- End of Sidebar -->
